{% extends 'base_content.html' %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="col-12">
        <div class="card cover-card centered-card">
            <div class="card-body">
                <h1 class="cover-heading">User Profile</h1>
                <hr class="solid">
                <section>
                    <h2 class="cover-heading">Profile Details</h2>
                    <hr class="solid">
                    <h4 class="cover-text">Profile Photo: </h4>
                    <!-- User's profile picture -->
                    <p>
                        <img src="{{user.gravatar}}" class="center" width="120" height="120"/>
                    </p>
                    <!-- User's username -->
                    <h4 class="cover-text">Username: </h4><p>{{user.username}}</p>
                    <!-- User's full name -->
                    <h4 class="cover-text">Name: </h4><p>{{user.first_name}} {{user.last_name}}</p>
                    <!-- User's public personal bio -->
                    <h4 class="cover-text">Public Bio: </h4>
                    <p>{{user.public_bio}}</p>
                </section>
                <hr class="solid">
                <!-- User's contact details -->
                <section>
                    <h2 class="cover-heading">Contact Details</h2>
                    <hr class="solid">
                    <h4 class="cover-text">Email: </h4>
                    <p>{{user.email}}</p>
                </section>
                <hr class="solid">
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}